# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

HostingGuide.docx
performance_changes_extracted.md
WebsiteManagement.docx
VizagTours_SEO_Complete_Implementation_Guide.docx
VizagTours_SEO_Final_Custom_Domain_Change_Guide.docx
Vizag Tours.docx
vizag_tours_changes.md